* {
  background-color: black;
  color: #03a062;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.btn {
  border-radius: 4px;
  font-weight: 400;
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  line-height: 1.42857143;
  margin: auto;
}

.die {
  height: 100px;
  width: 100px;
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  line-height: 4.25;
  border-radius: 16%;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}
